.none {
	border: none;
}
.mt-7 {
	margin-top: 6em;
}
.headpage {
	background-color: #8dc448;
	border: none;
	text-align: center; 
	color: #fff;
	padding: .9em;
	font-weight: bold;


}
.link {
	color: #000;
}
.link:hover {
	color: #000;
	text-decoration: none;
}
.card:hover {
	-webkit-box-shadow: 2px 2px 9px -1px rgba(0,0,0,0.39);
	-moz-box-shadow: 2px 2px 9px -1px rgba(0,0,0,0.39);
	box-shadow: 2px 2px 9px -1px rgba(0,0,0,0.39);
}

/*.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}*/
.kanit{
	font-family: 'Kanit', sans-serif;
}
.nunito{
	font-family: 'Nunito', sans-serif; 
}

.bg-light{
	box-shadow: 1px 2px 5px #eee;
}